<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Finder</title>
    <link href="{{url_for('static',filename='dist/css/output.css')}}" rel="stylesheet">
    <script>

    </script>
</head>
<body class="bg-purple-300">
    <h1 class="text-center text-7xl mt-5 text-white drop-shadow-2xl">Quote Finder</h1>
    <div class="text-center mt-5">
        <label for="searchBar"><input type="text" id="search"></label>
        <button onclick="search()">Search</button>
    </div>
    <p id="test"></p>
</body>
</html>